<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>598487625194-8pkbj1vkil6e0ei3s1hdfov2pbftipqm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.598487625194-8pkbj1vkil6e0ei3s1hdfov2pbftipqm</string>
	<key>API_KEY</key>
	<string>AIzaSyA0WGyr0_d4ivtudaP6ux8rAsW0azsBYJ8</string>
	<key>GCM_SENDER_ID</key>
	<string>598487625194</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.michaelihuoma.dana</string>
	<key>PROJECT_ID</key>
	<string>dana-d2485</string>
	<key>STORAGE_BUCKET</key>
	<string>dana-d2485.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:598487625194:ios:859d73040768bfb0469693</string>
</dict>
</plist>